<div class="header">
  <div id="mylink" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-target="#mylink" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-target="#mylink" data-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-target="#mylink" data-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="face-content">
        <h1><span>ai</span> foundation</h1>
        <p>is focusing on inspiring the next generation of kids healthcare proffessional</p>
        <button class="btn btn-success">donate now</button>
      </div>
      <div class="carousel-item active">
        <img src="../../assets/imgs/Banner.jpg" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/Banner.jpg" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/Banner.jpg" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
    </button>
  </div>
</div>
