<div class="footer">
  <div class="container">
    <div class="row f-top">

      <div class="col-md-2">
        <ul class="list-unstyled">
          <li><a href="#">news</a></li>
          <li><a href="#">events</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">faqs</a></li>
        </ul>
      </div><!-- #.col-md-3 -->

      <div class="col-md-2">
        <ul class="list-unstyled">
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">complains</a></li>
        </ul>
      </div><!-- #.col-md-3 -->

      <div class="col-md-5">
        <p class="title">subscripe to newsletter</p>
        <form>
          <input type="text" class="form-control" placeholder="Email Address"/>
          <button type="button" class="btn btn-primary">subcribe</button>
        </form>
      </div><!-- #.col-md-3 -->

      <div class="col-md-3">
        <p class="title">follow us on</p>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div><!-- #.col-md-3 -->

    </div><!-- #.row-->
  </div><!-- #.container -->

  <div class="f_bottom text-center">
    <div class="container">
      <p>all rights-reserved - link development company @ 2020</p>
    </div>
  </div>
</div><!-- #.footer -->
