<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <span class="navbar-brand">
      <i class="fa fa-align-left" aria-hidden="true"></i>
      <i class="fa fa-close" aria-hidden="true"></i>
      <img src="../../assets/imgs/logo.png" routerLink="/" />
    </span>
    <div class="menu">
      <ul class="list-unstyled main_menu">
        <li><a href="#" routerLink="/">home</a></li>
        <li class="sub"><a href="#">about us</a>
          <ul class="list-unstyled">
            <li><a href="#">who are us</a></li>
            <li><a href="#">why us?</a></li>
          </ul>
        </li>
        <li class="sub"><a href="#" routerLink="news">news</a>
          <ul class="list-unstyled">
            <li><a href="#">news</a></li>
            <li><a href="#">events us?</a></li>
          </ul>
        </li>
        <li class="sub"><a href="#">careers</a>
          <ul class="list-unstyled">
            <li><a href="#">opportunities</a></li>
          </ul>
        </li>
        <li><a href="#">contact us</a></li>
        <li><a href="#">site map</a></li>
      </ul>
      <ul class="social list-unstyled">
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div><!-- #.menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="true" aria-label="Toggle navigation" data-target="#linkTask">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="collapse navbar-collapse" id="linkTask">
      <ul class="navbar-nav ml-auto navLeft">
          <li>
            <span>
              <input type="text" placeholder="search" />
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </li>
          <li><i class="fa fa-bell-o" aria-hidden="true"></i>
          </li>
          <li><img src="../../assets/imgs/profile.png" /> <strong>user name</strong></li>
          <li><i class="fa fa-cog" aria-hidden="true"></i>
          </li>
      </ul>
    </div>
  </div>
</nav>
